.wrapper {
  display:flex;
  flex-direction: column;
  grid-gap:10px;

}
.hooks-items {
 
  width:80%;
  list-style: none;

  }
  .hooks-items li{
    border:solid blanchedalmond 1px;
 
    } 